<div class="row">
  <div class="col-md-10">
    <h2>
      Kontaktní údaje
   </h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <jmeno></jmeno>
    <email></email>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-4">
    <prijmeni></prijmeni>
    <telefonni-cislo></telefonni-cislo>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
   <doplnujici-info></doplnujici-info>
    <p>Náš bankéř Vás bude kontaktovat do 24 hodin.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-10" style="text-align: center">
    <input type="button" class="btn btn-success btn-lg" value="Odeslat">
  </div>
</div>

