/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@media screen and (max-width: 768px){
  body {
    max-width:475px; }
}

@media screen and (min-width: 750px)
and (max-width: 1200px){
  body {
    max-width:1220px;
    min-width:1220px;
    overflow-x: auto;
    overflow-y: auto;}
}

/* Components*/
.leftRightSideRow {
  margin-top: 50px;
}
  @media screen and (max-width: 768px){
    .leftRightSideRow {
      margin-top: 0px;}
  }

.rightSide{
  text-align: center;
  font-weight: bold;
  background-color: #0B5499;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 2px 0px 20px -2px rgba(0, 0, 0, .5);
  /*min-width: 400px;
  max-width: 475px*/;
}
  @media screen and (max-width: 768px){
   .rightSide {
     max-width: 475px;
     min-width: 475px;}
  }
  @media screen and (min-width: 750px)
  and (max-width: 1200px){
   .rightSide {
     max-width: 475px;
     min-width: 475px;
   margin-left: 555px;
   margin-top: -525px;}
  }
  @media screen and (min-width: 760px)
  and (max-width: 995px){
    .rightSide {
      max-width: 475px;
      min-width: 475px;
      margin-left: 535px;
      margin-top: -525px;}
  }

.leftSide{
 text-align: center;
 font-weight: bold;
 background-color: white;
 padding-bottom: 30px;
 box-shadow: -2px 0px 20px -2px rgba(0, 0, 0, .5);
 padding-left: 30px;
 padding-right: 30px;
 /* min-width: 400px;
  max-width: 475px*/;
}
  @media screen and (max-width: 768px){
  .leftSide {
    max-width: 475px;
    min-width: 475px;}
  }
  @media screen and (min-width: 750px)
  and (max-width: 1200px){
    .leftSide {
      max-width: 475px;
      min-width: 475px;}
  }

.formular {
  padding-left: 55px;
  padding-right: 55px;
  background-color: white;
  text-align: left;
  /*min-width: 800px;
  max-width: 1600px*/;
}
  @media screen and (max-width: 768px){
  .formular {
    max-width: 475px;
    min-width: 475px;}
  }
  @media screen and (min-width: 750px)
  and (max-width: 1200px){
    .formular {
      max-width: 800px;
      min-width: 800px; }
  }


.formularRow{
margin-top: 15px;
}

.formularCol{
padding-left: 46px;
}
@media screen and (max-width: 768px){
.formularCol {
  padding-left: 60px;}
}

.formularH2{
text-align: center;
color:#0B5499;
margin-top:3px;
}

.pojisteni {
margin-top: 20px;
font-weight: normal;
text-align: left;
}
@media screen and (max-width: 768px){
.pojisteni {
  margin-top: 5px;}
}

.pojisteniZajem {
width: 415px;
height: 10px;
margin-bottom: 15px;
margin-top: -12px;
}

.prepocetDoba{
margin-top: -20px;
}

.doplnujiciInfo{
min-width: 85%;
max-width: 95%;
resize: none;
}
@media screen and (max-width: 768px){
.doplnujiciInfo {
  max-width: 85%;
  resize: none;}
}

.doplnujiciInfoCol{
padding-left: 46px;
}
@media screen and (max-width: 768px){
.doplnujiciInfoCol {
  padding-left: 60px;}
}

.posuvnikJednotkyLeft{
text-align: left;
font-weight: 100;
}
@media screen and (max-width: 768px){
  .posuvnikJednotkyLeft {
    max-width: 220px;
  }
}

.posuvnikJednotkyRight{
text-align: right;
font-weight: 100;
}
@media screen and (max-width: 768px){
  .posuvnikJednotkyRight {
    max-width: 220px;
  }
}

.txtWhite {
color:white;
}

.txtWeightNorm {
font-weight: normal;
}

.celkemRow{
  margin-bottom: -10px;
}

@media screen and (max-width: 768px){
.mesicniSplatkaValue {
  margin-top: -10px;
}
}

.vyseUveruRow{
margin-bottom: 20px
}
@media screen and (max-width: 768px){
  .vyseUveruRow {
    margin-bottom: 10px
  }

}

.dobaSplaceniRow{
margin-bottom: 20px;
margin-top: 10px;
}
@media screen and (max-width: 768px){
.dobaSplaceniRow {
  margin-bottom: 20px;
  margin-top: 5px;
}
}

.rpsnCol{
}
@media screen and (max-width: 768px){
  .rpsnCol {
    max-width: 222px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

/* tags */
h2 {
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif Verdana;
  padding-bottom: 30px;
  padding-top: 30px;
  font-weight: bold;
  text-align: center;
}
  @media screen and (max-width: 768px){
    h2 {
      padding-bottom: 10px;}
  }


hr {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid white;
  width: 95%;
}
  @media screen and (max-width: 768px){
    hr {
      margin-top: 15px;
      margin-bottom: 15px;
      width: 395px;}
  }


table {
  max-width: 410px;
}

td {
  vertical-align: bottom;
}

.tableNazev {
  text-align: left;
  width: 150px;
  font-weight: normal;
}
  @media screen and (max-width: 768px){
    .tableNazev {
      max-width: 150px;}
  }

.tableInput {
  width: 200px;
  padding-left: 50px;
}

.tablePrepocetDoba{
  max-width: 320px;
  padding-left: 50px;
  text-align: left;
  font-size: 13px;
}
  @media screen and (max-width: 768px){
    .tablePrepocetDoba {
      max-width: 200px;
      font-size: 12px;}
  }

.tableJednotka {
  text-align: left;
  width: 0px;
  font-weight: normal;
  padding-left: 10px;
}

input[type=text] {
  width: 85%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=button] {
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

input[type=range] {
  -webkit-appearance: none;
  min-width: 100%;
  max-width: 415px;
  margin: 13.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {   /* čára */
  width: 100%;
  height: 8.4px;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {   /* ukazatel */
  height: 39px;
  width: 36px;
  border-style: none;
  -webkit-appearance: none;
  margin-top: -18px;
  background:url(assets/posuvnik34.png) center no-repeat;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

